.page{
    height: 100vh;
}
.page .bg{
    content:'';
    height:100%;
    width: 100%;
    position: absolute;
    filter: brightness(0.5) blur(40px);
    z-index: -1;
}

@media screen and (max-width: 420px) {
    .pointer{
        position:absolute;
        top:0;
        left:45%;
        transform:translateX(-15%);
        z-index:99;
        background: url("//s3.music.126.net/m/s/img/needle.png?702cf6d95f29e2e594f53a3caab50e12") no-repeat;
        background-size:cover;
        height: 157px;
        width: 110px;
    }
    .pointer{
        transform-origin: 7% -2%;
        transition: transform 0.6s;
        transform: rotate(0deg);
    }
    .pointer.pause {
        transform-origin: 7% -2%;
        transition: transform 0.6s;
        transform: rotateZ(-25deg);
    }

    section.disk {
        padding-top: 80px;
    }
    section.disk .circle {
        width: 342px;
        height: 342px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.disk .circle::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("//i.loli.net/2017/09/09/59b39277b7fa0.png") no-repeat center;
        background-size: cover;
    }
    section.disk .circle::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("//i.loli.net/2017/09/09/59b3928d337e6.png") no-repeat center;
        background-size: cover;
    }
    section.disk .circle >img{
        height: 212px;
        width: 212px;
    }
    section.disk .circle >img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -106px;
        margin-left: -106px;
        border-radius: 50%;
    }
    section.disk .circle.playing >img,
    section.disk .circle.playing::after {
        animation: spin 15s linear infinite;
    }
    section.disk .circle.playing.pause >img,
    section.disk .circle.playing.pause::after {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
    .disk .bofang,
    .disk .zanting {
        z-index: 1;
    }
    .disk .bofang.active {
        display: none;
    }
    .disk .bofang {
        display: block;
    }
    .disk .zanting.active {
        display: block;
    }
    .disk .zanting {
        display: none;
    }
    .disk .circle .bofang > svg,
    .disk .circle .zanting > svg {
        height: 65px;
        width: 65px;
        fill: #fff;
    }

    section.lyric{
        padding:0 35px;
        margin-top:25px;
        overflow: hidden;
    }
    .lyric .name {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        color:#fefefe;
        line-height:1.5;
        overflow: hidden;
    }
    .lyric .name >h2{
        font-size: 18px;
    }
    .lyric .songLyric{
        margin-top:6px;
        height:99px;
        overflow: hidden;
        text-align:center;
    }
    .lyric >.songLyric >.lines{
        transition:transform 0.3s;
    }
    .lyric >.songLyric >.lines >p{
        color:#aeabac;
        margin-bottom: 5px;
        font-size:16px;
    }
    .lyric >.songLyric >.lines >.active{
        color:white;
    }

    .actions{
        text-align:center;
        z-index:3;
        margin-top: 80px;
    }
    .actions > a{
        color:#d43b32;
        height:47px;
        padding: 8px 55px;
        border-radius: 4px;
        text-align:center;
        font-size:20px;
        line-height: 47px;
    }
    .actions > .a1{
        border:1px solid #d43b32;
    }
    .actions > .a2{
        border:1px solid #d43b32;
        background:#d43b32;
        color:white;
        margin-left:7px;
    }
}
@media screen and (max-width: 360px) {
    .pointer{
        position:absolute;
        top:0;
        left:45%;
        transform:translateX(-15%);
        z-index:99;
        background: url("//s3.music.126.net/m/s/img/needle.png?702cf6d95f29e2e594f53a3caab50e12") no-repeat;
        background-size:cover;
        height: 122px;
        width: 84px;
    }
    .pointer{
        transform-origin: 7% -2%;
        transition: transform 0.6s;
        transform: rotate(0deg);
    }
    .pointer.pause {
        transform-origin: 7% -2%;
        transition: transform 0.6s;
        transform: rotateZ(-25deg);
    }

    section.disk {
        padding-top: 63px;
    }
    section.disk .circle {
        width: 248px;
        height: 248px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.disk .circle::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("//i.loli.net/2017/09/09/59b39277b7fa0.png") no-repeat center;
        background-size: cover;
    }
    section.disk .circle::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("//i.loli.net/2017/09/09/59b3928d337e6.png") no-repeat center;
        background-size: cover;
    }
    section.disk .circle >img{
        height: 150px;
        width: 150px;
    }
    section.disk .circle > img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -75px;
        border-radius: 50%;
    }
    section.disk .circle.playing > img,
    section.disk .circle.playing::after {
        animation: spin 15s linear infinite;
    }
    section.disk .circle.playing.pause > img,
    section.disk .circle.playing.pause::after {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
    .disk .bofang,
    .disk .zanting {
        z-index: 1;
    }
    .disk .bofang.active {
        display: none;
    }
    .disk .bofang {
        display: block;
    }
    .disk .zanting.active {
        display: block;
    }
    .disk .zanting {
        display: none;
    }
    .disk .circle .bofang > svg,
    .disk .circle .zanting > svg {
        height: 50px;
        width: 50px;
        fill: #fff;
    }

    section.lyric{
        padding:0 30px;
        margin-top:20px;
        overflow: hidden;
    }
    .lyric .name {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        color:#fefefe;
        line-height:1.5;
        overflow: hidden;
    }
    .lyric .name >h2{
        font-size: 14px;
    }
    .lyric .songLyric{
        margin-top:5px;
        height:88px;
        overflow: hidden;
        text-align:center;
    }
    .lyric >.songLyric >.lines{
        transition:transform 0.3s;
    }
    .lyric >.songLyric >.lines >p{
        color:#aeabac;
        margin-bottom: 5px;
        font-size:12px;
    }
    .lyric >.songLyric >.lines >.active{
        color:white;
    }

    .actions{
        margin-top: 60px;
        text-align:center;
        z-index:3;
    }
    .actions > a{
        color:#d43b32;
        height:37px;
        padding: 4px 35px;
        border-radius: 4px;
        text-align:center;
        font-size:16px;
        line-height: 40px;
    }
    .actions > .a1{
        border:1px solid #d43b32;
    }
    .actions > .a2{
        border:1px solid #d43b32;
        background:#d43b32;
        color:white;
        margin-left:7px;
    }
}




@keyframes spin{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}